.logo {
  max-height: 70%;
  max-width: 100%;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#library-grid {
  background-color: #eceff1;
  width: 100%;
  height: 400px;
  position: relative;
}

#cursor-position {
  position: absolute;
  right: 0px;
}

.sortmate {
  position: absolute;
  left: 15px;
  top: 15px;
  width: 5em;
  height: 5em;
  background-color: #ff4083;
}

.cell {
  width: 50px;
  height: 50px;
  background-color: #df4053;
}

.highlighted {
  border: medium dashed green;
}

.node-label {
  font-size: 1em;
  text-align: center;
  vertical-align: middle;
  line-height: 5em;
}
