.logo {
  max-height: 70%;
  max-width: 100%;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#library-grid {
  background-color: #eceff1;
  width: 100%;
  height: 400px;
  position: relative;
}

#cursor-position {
  background-color: #c8e6c9;
  width: 250px;
  text-align: center;
  position: absolute;
  right: 0px;
}

.sortmate {
  position: absolute;
  width: 5em;
  height: 5em;
  border: .25em solid black;
  /*background-image: url("./sortmate.jpg");*/
  /*background-size: contain;*/
  background-color: #ff4083;
  color: white;
  font-size: 1em;
  text-align: center;
  vertical-align: middle;
  line-height: 4.75em;
}

.sortmate:hover {
  border: .25em dashed orange;
}

.cell {
  width: 50px;
  height: 50px;
  background-color: #df4053;
}

.node-label {
  font-size: 1em;
  text-align: center;
  vertical-align: middle;
  line-height: 5em;
}
